.title {
    text-align: center;
    color:green;
    font-size:1,5rem;
}
.text {
    text-align: left;
    color:blue;
    font-size:1,5rem;
}

.button {
    text-align: left;
    color:violet;
    font-size:2rem;
}

.success {
  border-color: green;
}

.error {
  border-color: red;
}